* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background: #495897;
}

.container {
  background-color: #ecc8af;
  width: 90%;
  max-width: 800px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

h1, h2 {
  color: #2e312a;
}

.container h1 {
  font-size: 50px;
  font-weight: 700;
  border-bottom: 3px solid #2e312a;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 50px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

button {
  display: block;
}

#answer-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  background: #ecc8af;
}